queries.txt
Group Project Rules.ipynb
test.py
pyproject.toml
README.md
.gitignore
.python-version
main.py
uv.lock
__pycache__/models.cpython-38.pyc
keys.py
qrels.txt
__pycache__/keys.cpython-38.pyc
__pycache__/evaluation.cpython-38.pyc
