queries.txt
Group Project Rules.ipynb
test.py
pyproject.toml
README.md
.gitignore
.python-version
main.py
uv.lock
__pycache__/models.cpython-38.pyc
blocked_saved_pages.csv
saved_pages.csv
frontier.csv
keys.py
qrels.txt
__pycache__/keys.cpython-38.pyc
