faiss-cpu==1.11.0.post1
filelock==3.18.0
fsspec==2025.5.1
gensim==4.3.3
Jinja2==3.1.6
joblib==1.5.1
key==0.4
langdetect==1.0.9
lxml==6.0.0
matplotlib==3.10.3
mpmath==1.3.0
nltk==3.9.1
numpy==1.26.4
packaging==25.0
pandas==2.3.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.4
scikit-learn==1.7.0
scipy==1.13.1
sentence-transformers==5.0.0
tokenizers==0.21.2
torch==2.7.1
tqdm==4.67.1
transformers==4.53.2
typing_extensions==4.14.1

